@charset "utf-8";
/* CSS Document */

/* ESTILO GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

body{
    background: #6C7A89;
}

/* BARRA SUPERIOR */

header{
    width: 100%;
    background: linear-gradient(90deg, #5A1A8E, #0E587C);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* LOGO */
.logo img{
    width: auto;  
    height: 70px;

}

/* TÍTULO */

.titulo{
    width: 100%;
    text-align: center;
    background-color: #7A6A8A;
    padding: 15px 0; 
}

.titulo h1{
    font-size: 32px; 
    color: white;
    letter-spacing: 1px;
}

/* TRES COLUMNAS DE TEXTO */

.bloques-texto{
    display: flex;
    width: 100%;
}

.bloque{
    width: 33.33%;
    padding: 35px; 
    color: white;
    text-align: center;
}

.bloque h2{
    margin-bottom: 10px;
    font-size: 20px; 
}

.bloque p{
    font-size: 14px; 
    line-height: 1.45;
}

/* colores */

.azul{
    background-color: #0D305B;
}

.morado{
    background-color: #5A1A8E;
}

.vino{
    background-color: #5A113F;
}

/* SECCIÓN INFERIOR */

.inferior{
    display: flex;
    width: 100%;
    background-color: #6C7A89;
    padding: 10px 0; 
}

.ilustraciones{
    width: 50%;
    padding: 10px;
}

.ilustraciones img{
    width: 100%;
    height: auto;
}

/* video */

.video{
    width: 50%;
    padding: 10px;
}

.video iframe{
    width: 100%;
    height: 504px;
    border-radius: 10px;
}
