@charset "utf-8";
/* CSS Document */

/*   ESTILO GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

body{
    background-color: #6C7A89;
}

/*   BARRA SUPERIOR */
header{
    width: 100%;
    background: linear-gradient(90deg, #5A1A8E, #0E587C);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}

/* LOGO */
.logo img{
    width: auto;  
    height: 70px;
}

/*   CONTENEDOR PRINCIPAL */
.contenedor{
    width: 100%;
    display: flex;
    height: calc(100vh - 100px);
}

/*   GALERIA DESPLAZABLE */
.slider{
    width: 50%;
    overflow: hidden;
    position: relative;
}

.slider ul{
    list-style: none;
    display: flex;
    width: 600%; /* 6 imágenes */
    animation: slide 15s infinite alternate;
}

.slider li{
    width: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANIMACIÓN 6 IMÁGENES */
@keyframes slide {
    0%   { margin-left: 0; }
    13%  { margin-left: 0; }

    16%  { margin-left: -100%; }
    29%  { margin-left: -100%; }

    32%  { margin-left: -200%; }
    45%  { margin-left: -200%; }

    48%  { margin-left: -300%; }
    61%  { margin-left: -300%; }

    64%  { margin-left: -400%; }
    77%  { margin-left: -400%; }

    80%  { margin-left: -500%; }
    100% { margin-left: -500%; }
}



/*   TEXTO DESCRIPTIVO */
.texto{
    width: 50%;
    background: linear-gradient(#5A1A8E, #C834A8);
    color: white;
    padding: 80px;
}

.texto h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.texto p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify; 
}
